<ngx-gantt-root [sideWidth]="300">
  <ng-template #sideTemplate>
    <table-header [columns]="columns"></table-header>
    <table-body [viewportItems]="data" [columns]="columns"></table-body>
    <!-- <table>
      <tr>
        <th>项目</th>
        <th>计划/实际</th>
        <th>开始时间</th>
      </tr>
      <tr>
        <td rowspan="2">计划1</td>
        <td>计划</td>
        <td>2022-01-20</td>
      </tr>
      <tr>
        <td>实际</td>
        <td>2022-01-20</td>
      </tr>
      <tr>
        <td rowspan="2">计划2</td>
        <td>计划</td>
        <td>2022-01-20</td>
      </tr>
      <tr>
        <td>实际</td>
        <td>2022-01-20</td>
      </tr>
    </table> -->
  </ng-template>
  <ng-template #mainTemplate>
    <div class="gantt-main-container">
      <!-- groups -->
      <div class="gantt-main-groups" *ngIf="groups && groups.length > 0" [style.width.px]="view.width">
        <ng-container *ngFor="let group of groups; trackBy: trackBy">
          <div class="gantt-main-group" [style.height.px]="group.mergedItems?.length * styles.lineHeight">
            <ng-container *ngFor="let items of group.mergedItems">
              <div class="gantt-flat-items" [style.height.px]="styles.lineHeight">
                <ng-container *ngFor="let item of items; trackBy: trackBy">
                  <ngx-gantt-bar [item]="item" [template]="barTemplate" (barClick)="barClick.emit($event)"></ngx-gantt-bar>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-template>
</ngx-gantt-root>
